@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Mobile-First Styles (Default) */
body {
    display:flex;
    flex-direction:column;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    min-height: 100vh;
}


nav {
    display: flex;
    justify-content:flex-start;
    position:relative;
    top:0;
    background-color: lightgray;
    padding: 1rem 1rem;

}

.logo {
    font-weight: bold;
    font-size: 2rem;
    border: 2px solid black;
    margin-right:auto;
    border-radius: 4px;
    padding: 12px;
}

.hamburger {
    cursor: pointer;
    padding: 1rem 1rem;
    z-index: 1;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}

.nav-links {
    list-style: none;
    position:absolute;
    top: 60px;
    left:0;
    right:0;
    width: auto;
    background-color: lightgray;
    text-align: center;
    transform: translateY(-150%); /* Hidden by default */
    transition: transform 0.3s ease-in-out;
    z-index:1; /*z-index ensures it is drawn on top. (Need Position abs/rel though*/ 
}

.nav-links li {

    
}

.nav-links a {
    text-decoration: none;
    font-size:1.5rem;
    color: #333;
    display: block; /* Make links fill the width */
    padding: 10px; /* Add some padding to links */
}

.menu-toggle {
    display: none;
}

.menu-toggle:checked + .hamburger + .nav-links  {
    transform: translateY(20%);
}

.menu-toggle:checked + .hamburger .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.menu-toggle:checked + .hamburger .bar:nth-child(2) {
    opacity: 0;
}
.menu-toggle:checked + .hamburger .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


/* Styles for Larger Screens (Media Query) */
@media (min-width: 768px) {
    nav {
        
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
  
    }

    .hamburger {
        display: none; /* Hide hamburger on larger screens */
    }

    .nav-links{
        display:flex;
        flex-direction:row;
        justify-content:center;
        position: static; /* No longer absolute */
        transform: translateY(0); /* Always visible */
        width:auto; /* Reset width */
    }

    .nav-links li{
        display:flex;
        justify-content:center;
        border: 2px solid black;
        border-radius: 4px;
        margin:10px;
    }

    .nav-links a{
        display:flex;
        color: black;
        text-decoration: none;
        font-size: 18px;
    }
    
}


/* Basic Hero and Content Styling */
.hero {
    flex: 1;
    padding: 1rem; 
    text-align: center;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/landscape-unsplash.jpg");*/
    min-height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}

.hero h1{
    color:lightgray;
    font-size: 2rem;
    font-weight: bold;

}

.hero p{
    color:lightgray;
    font-size: 1.5rem;
    font-weight:normal;

}
.flex-container{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
}

.flex-container > div {
    background-color: #f1f1f1;
    opacity: 0.5;
    border-radius: 5px;
    margin: 2rem;
    padding: 1.5rem;
    width: 90px;
    height: 90px;
    font-size: 0.7rem;
  }


.content {
    text-align: center;
    padding: 2rem;
}

footer {
    margin-top:auto;
    background-color:lightgray;
    color:black;
    min-height:50px;
    padding: 30px;
    text-align: center;
}