@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html {
    box-sizing: border-box;
    font-family: Poppins, Arial, Helvetica, sans-serif
}
body {
    display:flex;
    flex-direction:column;
    min-height: 95vh;
}


header {
    display:flex;
    justify-content:flex-start;
    position:sticky;
    top:0;
    background-color: lightgray;
    padding: 20px 10px;
    z-index:1;
  }

a {
    color: black;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;

  }

header .logo {
    border: 2px solid black;
    margin-right:auto;
  }

header .header-centre {
    border: 2px solid black;
    align-content: center;

  }

footer {
    display:flex;
    justify-content:center;
    margin-top:auto;
    background-color: lightgray;
    padding: 30px;
    z-index:2;
  }
footer .footer-centre {
    border: 2px solid black;
    align-content: center;
  }

  section {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
  }

  article {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    flex: auto;
    
  }

  aside {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    flex: auto;
  }

  .box{
    flex-direction: column;
    border: 2px solid black;
    padding: 20px;
    margin-top: 10px;
  }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/landscape-unsplash.jpg");
    min-height:85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
  }

  .hero_text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: whitesmoke; 
    min-height: 80vh;
    font-size: 48px;
    font-weight: bold;
     
  }

  .cta-button {
    border: solid 1px whitesmoke;
    border-radius: 1em;
    font-size: 1em;
    background-color: transparent;
    color:whitesmoke;
    padding: 0.3em 2em;
    width: auto;
  }

  .cta-button:hover{
    background-color: rgba(0, 0, 0, 0.3);
    cursor:pointer;
  }

